@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
  font-weight: bolder;
}
.icon {
  margin: 10px 30px -10px 0px;
  width: 100px;
  height: 20px;
  position: absolute;
    right: 7%;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fd0000;
  height: 50px;
  padding: 1em;
}

.icon svg:hover>path, .icon:hover {
  fill: #f46b45;
  color: #f46b45;
  cursor: pointer;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: block;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #e70c0c;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 5, 5);
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}



div#abcd {
  margin-top: 30px;
}
  #abc{
      position: absolute;
  top: 7%;
  }
  .left, .right{
      max-width: 200px;
      height: 100%;
      background-color: #f8f8f8;
  }
  .grid-container {
          display: grid;
          grid-template-columns: 7% 86% 7%;
          grid-gap: 0px;
          min-height: 100%;
      }
      li {
  padding: 5px;
  list-style-type: none;
}

a{
  text-decoration: none;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}
.menu {
list-style: none;
padding: 0;
}

.lista {
display: none;
position: relative;
margin-right: 20px;
padding: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border: 1px solid #ccc;
transition: opacity 0.3s ease, visibility 0.3s ease;
z-index: 1;
}
.sub-lista{
  background: #ebcccc;
  width: 100%;
}
.sub-menu {
display: none;
position: relative;
top: 100%;
left: 0;
background-color: #fff;
padding: 10px;
transition: opacity 0.3s ease, visibility 0.3s ease;
z-index: 1;
}


.open {
display: block;
opacity: 1;
visibility: visible;

}

.sub-menu li {
margin: 10px;
padding: 0;
list-style: none;
border-radius: 10px;
}

.sub-menu li a {
display: block;
padding: 5px 0;
margin-top: 5px;
text-decoration: none;
color: #f46b45;
}
/*
.sub-menu li a:hover {
background-color: #f0f0f0;
}
*/

.menu-hamburguer {
display: inline-block;
cursor: pointer;
width: 30px;
height: 20px;
position: relative;
}

.bar {
width: 100%;
height: 4px;
background-color: #333;
position: absolute;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.bar:nth-child(2) {
top: 50%;
transform: translateY(-50%);
}

.bar:nth-child(3) {
bottom: 0;
}

.menu-hamburguer.open .bar {
background-color: #fff;
}

.menu-hamburguer.open .bar:nth-child(1) {
transform: translateY(7px) rotate(45deg);
}

.menu-hamburguer.open .bar:nth-child(2) {
opacity: 0;
}

.menu-hamburguer.open .bar:nth-child(3) {
transform: translateY(-7px) rotate(-45deg);
}

.sub-lista.active {
display: block;
}
ul.menu {
  display: flex;
  flex-direction: row;
}
.menu-header .lista{
  display: block;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  max-height: 30px;
  background: #ebcccc;
}

a{
  color: #f46b45;
  font-weight: bold;
}
.sub-lista a{
  color:#f46b45
}
.menu-header {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  height: 70px;
  align-items: flex-end;
}
header{
  background: #EF5B5B;
  margin: 0;
  height: 100px;
}
.menu-header li.lista:first-child {
  margin-right: 160px;
}
.menu-header .lista .sub-menu{
  margin: 0px;
  
  left:10px;
  background: border-box
}
.menu-header  li.sub-lista {
  padding: 0 10px 0 10px;
}
.center{
  background: rgb(235, 204, 204);
}
tr:nth-child(even)  {
  background: rgb(148, 154, 158);
  color: #000; 
}
tr:nth-child(even)  {
  background-color: rgb(223, 225, 226); 
  color: #333; 
}
tr:nth-child(even) td {
  background: rgb(148, 154, 158);
  color: #000; 
}
tr:nth-child(odd) td {
  background-color: rgb(223, 225, 226); 
  color: #333; 
}
th:first-child{
  padding: 10px;
}
table {
  margin: auto;
  text-align: center;
}
th{
  background: rgb(148, 154, 158);
}
td{
  min-width: 100px;
}
.name{
  padding: 0px 30px 0px 30px;
}
th{
  min-width: 80px;
}

body{
  background: #a4a9ad;
}

.sub-lista:hover{
  background:#27292b;
}
.phone{
  min-width: 150px;
}

input.pesquisar {
  height: 30px;
  border-radius: 10px;
  border: 0px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pesquisar:focus-visible{
  border: 10px;
}

#contatos, .cont{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}
.dados{
display: flex;
 flex-direction: row;
}
.dados {
  margin: 20px 0px 0px 20px;
 /*background: linear-gradient(45deg, black, transparent);*/
 background: linear-gradient(250deg, transparent,#EF5B5B);
  color: white;
}
.cont{
  margin: -10px 0px 0px 20px;
}

input#btnsearch {
  border-radius: 10px;
  border: 0;
  padding: 7px 20px;
  margin: 0px 0px 0px 10px;
}

.lista:hover{
  background-color: #27292b;
}
#map{
  height: 600px;
 
}

#procurar{
  padding: 20px;
}

select#pontos {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}
input#btnsearch:hover{
  background-color:rgb(148, 154, 158);
  color: white;
}
input{
  outline: none;
}
#message-add{
display: none;
    position: fixed;
    top: 11%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #ebcccc;
    padding: 14px;
    border: 1px solid #EF5B5B;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    border-radius: 10px;
    font-weight: bold;
}
#message-add span{
  color: #f46b45;
}


.table-aniver{
  margin-top: 60px;
  
}

.dados:hover {
  background: gray;
}

tr:hover {
  background-color: #e90707;
}