<header>
    <ul class="menu-header">
      <li class="lista"><a class="add-user" href="javascript:void(0)">Adicionar Usuarios</a></li>
      <li class="lista"><a class='lista-aniver' href="/aniversarios">Lista de Aniversarios</a></li>
      <li class="lista"><a class="street" href="/map">Localização</a></li>
      <li class="lista"><a class='lista-contatos' href="/contatos">Contato</a></li>
      <li class="lista"><a class="tabela_home" href="/home">Home</a></li>
    </ul>
  </header>